---
---
@import "{{ site.theme }}";

.home {
    position: fixed;
    top: 1em;
    left: 1em;
    background-color: #266faf10;
    padding: 0.5em 1em;
}

.home i {
    margin-right: 5px;
}

.hero {
    font-family: "Work Sans", Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.hero_title {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #151b3eb5; 
}

.hero_title a {
    font-weight: 400;
}

.hero_title a::after {
    content: "";
    border-top: 15px solid #266faf;
    display: block;
    position: relative;
    width: 90%;
    top: 0;
    opacity: 0.1;
    margin: -15px 0 0 0;
}

.hero_name {
    font-weight: 300;
    color: #151b3e;
}

@media screen and (min-width: 601px) {
    .hero_title {
        font-size: 2em;
    }
    .hero_logo {
        width: 13em;
    }
}

@media screen and (max-width: 600px) {
    .hero_title {
        font-size: 1.5em;
    }
    .hero_logo {
        width: 12em;
    }
    .hero_title a::after {
        width: 70%;
    }
}

.hero_link {
    font-family: inherit;
    color: #2fe0c5
}

.hero_logo {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lets_chat {
    font-size: 1.5em;
    font-weight: 300;
}

.social::before {
    content: "";
    border-top: 1px solid #151b3e;
    display: block;
    position: relative;
    width: 10%;
    margin: 0 auto;
    top: 15px;
    opacity: 0.35;
}

.social ul.social-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    white-space: nowrap;
  }

  .social ul.social-set li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .social a.sociali {
    margin: 40px 30px 30px 30px !important;
    
  }
