---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400');

.hero {
    font-family: "Work Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.hero_title {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #5d5d5d;
}

@media screen and (min-width: 601px) {
    .hero_title {
        font-size: 2em;
    }
    .hero_logo {
        width: 13em;
    }
}

@media screen and (max-width: 600px) {
    .hero_title {
        font-size: 1.8em;
    }
    .hero_logo {
        width: 12em;
    }
}

.hero_link {
    font-family: inherit;
    color: #2fe0c5
}

.hero_logo {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lets_chat {
    font-size: 1.5em;
    font-weight: 300;
}


.social ul.social-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    white-space: nowrap;
  }

  .social ul.social-set li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .social a.sociali {
    margin: 40px 30px 30px 30px !important;
    
  }

  .social .fa:hover {
      opacity: 0.7;
  }
