/* Add custom CSS */

:root, [data-theme="dark"] {
    color-scheme: dark;
  }

/* Light AND dark theme override */
:root, [data-theme="dark"] {
    --color-primary: rgb(253, 77, 77);
}

/* Removes grayscale filter from images set in theme defaults */
:root img, [data-theme="dark"] img {
    filter: none;
}

[data-theme="dark"] {
    --color-bg: rgb(13, 13, 13);
}

/* Background Image behind posts and projects */
:root .background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    max-width: 100%;
    min-height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    filter: blur(8px);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1%, transparent 50vh);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1%, transparent 50vh);
}

/* Image thumbnail of a post visible in post lists */
.post-list-thumb {
    float: left;
    margin-right: 12px;
    position: relative;
    border-radius: 10px;
    min-height: 1rem;
    max-width: 100px;
    flex: 1 1 350px;
}

.post-list-thumb img {
    width: 100%;
    height: 3.5em;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    border: 1px solid var(--color-contrast-low);
}

/* Disable theme switching */
.switch {
    display: none;
}

/* Gets rid of an ugly scrollbar which is not that useful */
.toc {
    overflow-y: auto;
}

/* Gives transparency to section header background */
.page-header {
    background-color: color-mix(in hsl, var(--color-contrast-lower) 60%, transparent);
}

/* Equal margin space from section header to project list */
:root .terms {
    margin-bottom: 50px;
}

/* Custom term style, filled-in + better visibility */
.term {
    background-color: var(--color-contrast-lower);
    border: none;
    color: var(--color-contrast-medium);
}

.term:hover {
    background-color: var(--color-primary);
    border: none;
    color: var(--color-contrast-high);
}

.project-entry {
    max-width: 560px;
}

.project-list {
    align-items: flex-start;
    
}